<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard | AuroraOne</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="assets/img/favi-icon.png">
  <!-- js -->
  <script type="text/javascript" src="assets/js/main.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- js todolist -->
  <script type="text/javascript" src="assets/js/todolist.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <style>
        .app-container {
        height: 100vh;
        width: 100%;
        }
        .complete {
        text-decoration: line-through;
        }
    </style>
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <img class="logo" src="assets/img/logotipo.png" alt="">
            
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    
        <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Pesquisar" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle " href="#">
                <i class="bi bi-search"></i>
              </a>
            </li><!-- End Search Icon-->
    
            <li class="nav-item dropdown">
    
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-bell"></i>
                <span class="badge bg-primary badge-number">4</span>
              </a><!-- End Notification Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                <li class="dropdown-header">
                  Você tem 4 novas notificações
                  <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                  <i class="bi bi-exclamation-circle text-warning"></i>
                  <div>
                    <h4>Lorem Ipsum</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>30 min. ago</p>
                  </div>
                </li>
    
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                  <i class="bi bi-x-circle text-danger"></i>
                  <div>
                    <h4>Atque rerum nesciunt</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>1 hr. ago</p>
                  </div>
                </li>
    
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                  <i class="bi bi-check-circle text-success"></i>
                  <div>
                    <h4>Sit rerum fuga</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>2 hrs. ago</p>
                  </div>
                </li>
    
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="notification-item">
                  <i class="bi bi-info-circle text-primary"></i>
                  <div>
                    <h4>Dicta reprehenderit</h4>
                    <p>Quae dolorem earum veritatis oditseno</p>
                    <p>4 hrs. ago</p>
                  </div>
                </li>
    
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="dropdown-footer">
                  <a href="#">Show all notifications</a>
                </li>
    
              </ul><!-- End Notification Dropdown Items -->
    
            </li><!-- End Notification Nav -->
    
            <li class="nav-item dropdown">
    
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-chat-left-text"></i>
                <span class="badge bg-success badge-number">3</span>
              </a><!-- End Messages Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                <li class="dropdown-header">
                  You have 3 new messages
                  <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="message-item">
                  <a href="#">
                    <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                    <div>
                      <h4>Maria Hudson</h4>
                      <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                      <p>4 hrs. ago</p>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="message-item">
                  <a href="#">
                    <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                    <div>
                      <h4>Anna Nelson</h4>
                      <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                      <p>6 hrs. ago</p>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="message-item">
                  <a href="#">
                    <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                    <div>
                      <h4>David Muldon</h4>
                      <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                      <p>8 hrs. ago</p>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li class="dropdown-footer">
                  <a href="#">Show all messages</a>
                </li>
    
              </ul><!-- End Messages Dropdown Items -->
    
            </li><!-- End Messages Nav -->
    
            <li class="nav-item dropdown pe-3">
    
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">L.machado</span>
              </a><!-- End Profile Iamge Icon -->
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6>Lucas Machado</h6>
                  <span>Desenvolvedor Web</span>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                    <i class="bi bi-person"></i>
                    <span>Meu perfil
                    </span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                    <i class="bi bi-gear"></i>
                    <span>Configurações da conta</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                    <i class="bi bi-question-circle"></i>
                    <span>Precisa de ajuda?</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="login.html">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sair</span>
                  </a>
                </li>
    
              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
    
          </ul>
        </nav><!-- End Icons Navigation -->
    
    </header><!-- End Header -->
    
      <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
    
        <ul class="sidebar-nav" id="sidebar-nav">
    
          <li class="nav-item">
            <a class="nav-link " href="index.html">
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
            </a>
          </li><!-- End Dashboard Nav -->
    
          <li class="nav-heading" style="color: #024F63;"><b><div class="vr"></div>  ERP</b></li>
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-clipboard-plus"></i><span>Cadastro</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="components-alerts.html">
                  <i class="bi bi-circle"></i><span> Clientes</span>
                </a>
              </li>
              <li>
                <a href="components-accordion.html">
                  <i class="bi bi-circle"></i><span>Produtos</span>
                </a>
              </li>
              <li>
                <a href="components-badges.html">
                  <i class="bi bi-circle"></i><span>Colaboraradores</span>
                </a>
              </li>
            
            </ul>
          </li><!-- End Components Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-collection"></i><span>Estoque</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
               <li>
                <a href="forms-layouts.html">
                  <i class="bi bi-circle"></i><span>Entradas Avulsas</span>
                </a>
              </li>
    
              <li>
                <a href="forms-editors.html">
                  <i class="bi bi-circle"></i><span>Saidas Avulsas</span>
                </a>
              </li>
    
              <li>
                <a href="forms-validation.html">
                  <i class="bi bi-circle"></i><span>Pedidos</span>
                </a>
              </li>
    
              <li>
                <a href="forms-validation.html">
                  <i class="bi bi-circle"></i><span>Historico De Movimentações</span>
                </a>
              </li>
    
              <li>
                <a href="forms-validation.html">
                  <i class="bi bi-circle"></i><span>Produtos</span>
                </a>
              </li>
            </ul>
          </li><!-- End Forms Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-bag-heart"></i><span>Compras</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="tables-general.html">
                  <i class="bi bi-circle"></i><span>Solicitação  </span>
                </a>
              </li>
    
              <li>
                <a href="tables-data.html">
                  <i class="bi bi-circle"></i><span>Ordem de compra</span>
                </a>
              </li>
    
              <li>
                <a href="tables-data.html">
                  <i class="bi bi-circle"></i><span>Cotação</span>
                </a>
              </li>
    
            </ul>
          </li><!-- End Tables Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-bar-chart"></i><span>Financeiro</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="charts-chartjs.html">
                  <i class="bi bi-circle"></i><span>Ordem de compra</span>
                </a>
              </li>
    
              <li>
                <a href="charts-apexcharts.html">
                  <i class="bi bi-circle"></i><span>Pedidos</span>
                </a>
              </li>
    
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>Contas a Receber</span>
                </a>
              </li>
              
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>Contas a Pagar</span>
                </a>
              </li>
              
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>Despesas</span>
                </a>
              </li>
              
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>Plano De Contas</span>
                </a>
              </li>
              
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>Fluxo de caixas</span>
                </a>
              </li>
              <li>
                <a href="charts-echarts.html">
                  <i class="bi bi-circle"></i><span>Livro Diario</span>
                </a>
              </li>
            </ul>
          </li><!-- End Charts Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-building-fill-gear"></i><span>Produção</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="icons-bootstrap.html">
                  <i class="bi bi-circle"></i><span>Produtos</span>
                </a>
              </li>
              <li>
                <a href="icons-remix.html">
                  <i class="bi bi-circle"></i><span>Insumos</span>
                </a>
              </li>
              <li>
                <a href="icons-boxicons.html">
                  <i class="bi bi-circle"></i><span>Ordem de compra</span>
                </a>
              </li>
              <li>
                <a href="icons-boxicons.html">
                  <i class="bi bi-circle"></i><span>test</span>
                </a>
              </li>
              <li>
                <a href="icons-boxicons.html">
                  <i class="bi bi-circle"></i><span>test</span>
                </a>
              </li>
              <li>
                <a href="icons-boxicons.html">
                  <i class="bi bi-circle"></i><span>test</span>
                </a>
              </li>
            </ul>
          </li><!-- End ERP -->
          <hr/>
    
          <li class="nav-heading" style="color: #024F63;"><b><div class="vr"></div>  CRM</b></li>
        </li><!-- CRM -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-funnel"></i>
            <span>Funil de vendas </span>
          </a>
        </li><!-- End-->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="users-profile.html">
            <i class="bi bi-database-add"></i>
            <span>Propostas </span>
          </a>
        </li><!-- End -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-faq.html">
            <i class="bi bi-graph-up-arrow"></i>
            <span>Analises</span>
          </a>
        </li><!-- END -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-contact.html">
            <i class="  bi bi-bar-chart"></i>
            <span>Financeiro</span>
          </a>
        </li><!-- End Contact Page Nav -->
    
      
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="login.html">
            <i class="bi bi-clipboard2-data"></i>
            <span>Feedbacks</span>
          </a>
        </li><!-- End  -->
       
       
        <hr />
          <li class="nav-heading" style="color: #024F63;"><b> <div class="vr"></div> Ferramentas</b></li>
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="#">
              <i class="bi bi-calendar-date"></i>
              <span>Calendário </span>
            </a>
          </li><!-- End Profile Page Nav -->
    
          <li class="nav-item ">
            <a class="nav-link collapsed " href="#">
              <i class="bi bi-check2-square"></i>
              <span  >ToDoList </span>
            </a>
          </li><!-- End Profile Page Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="#">
              <i class="bi bi-question-circle"></i>
              <span>Portal de treinamento</span>
            </a>
          </li><!-- End F.A.Q Page Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="#">
              <i class="  bi bi-headset"></i>
              <span>Suporte</span>
            </a>
          </li><!-- End Contact Page Nav -->
        </ul>
    
    </aside><!-- End Sidebar-->
        <div
        class="app-container d-flex align-items-center justify-content-center flex-column"
        ng-app="myApp"
        ng-controller="myController"
    >
        {{ task_name }}
        <h3>ToDoList</h3>
        <div class="d-flex align-items-center mb-3">
        <div class="form-group mr-3 mb-0">
            <input
            ng-model="yourTask"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Enter a task here"
            />
        </div>
        <button
            type="button"
            class="btn btn-primary mr-3"
            ng-click="saveTask()"
        >
            salvar
        </button>
        <button type="button" class="btn btn-warning" ng-click="getTask()">
            Obter Tarefas
        </button>
        </div>
        {{ yourName }}
        <div class="table-wrapper">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>No.</th>
                <th>Todo item</th>
                <th>status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr
                ng-repeat="task in tasks"
                class="{{ task.status ? 'table-success' : 'table-light' }}"
            >
                <td>{{ $index + 1 }}</td>
                <td class="{{ task.status ? 'complete' : 'task' }}">
                {{ task.task_name }}
                </td>
                <td>{{ task.status ? "Completed" : "In progress" }}</td>
                <td>
                <button class="btn btn-danger" ng-click="delete($index)">
                    Deletar
                </button>
                <button class="btn btn-success" ng-click="finished($index)">
                    completada
                </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myController", function($scope) {
        $scope.tasks = [];
        // $scope.saved = localStorage.getItem("tasks");
        // $scope.tasks =
        //   localStorage.getItem("tasks") !== null
        //     ? JSON.parse($scope.saved)
        //     : [
        //         { task_name: "Learn AngularJS", status: false },
        //         { task_name: "Build an Angular app", status: false }
        //       ];
        // localStorage.setItem("tasks", JSON.stringify($scope.tasks));
        $scope.saveTask = function() {
            $scope.tasks.push({ task_name: $scope.yourTask, status: false });
            //   localStorage.setItem("tasks", JSON.stringify($scope.tasks));
        };
        $scope.getTask = function() {
            var oldTasks = $scope.tasks;
            $scope.tasks = [];
            angular.forEach(oldTasks, function(task) {
            if (!task.done) $scope.tasks.push(task);
            });
            localStorage.setItem("tasks", JSON.stringify($scope.tasks));
        };
        $scope.delete = function(i) {
            $scope.tasks.splice(i, 1);
        };
        $scope.finished = function(i) {
            $scope.tasks[i].status = true;
        };
        });
    </script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
    ></script><!-- End todolist-->







      <!-- ======= Footer ======= -->
    <footer id="footer" class="footer ">
    <div class="copyright icones-animados">
      &copy;  2022  <strong><span> AuroraOne</span></strong> tecnologia
    </div>
    
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>
</html>